.product{
    display: flex;
    border-bottom: 1px solid grey;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.product h5{
    color: blue;
    font-weight: 400;
}
.description{
    color: grey;
    font-weight: 300;
}
.value{
    color: lightslategrey;
    font-weight: 700;
}
.product ul li{
    width: 300px;
}
.feature-hedding{
    margin-left: 100%;
}
#add-btn{
    border: 1px solid black;
    background-color: #f0c14b;
    border-radius: 3px;
    height: 26x;
    width: 200px;
    padding: 1px 6px;
    cursor: pointer;
}